 <div class="body">
  <header>
    <mat-toolbar color="primary">
      <span>EMS</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary"  routerLink="employee">Employees</button>
      <button mat-raised-button color="primary" routerLink="Add-employee">Add Employee</button>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  <footer class="footer">
    <mat-toolbar color="primary">
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" >Footer</button>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </footer>
</div>