.body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .container{
    width: 80%;
    margin: auto;
    
  }
  .footer{
    padding-top: 10px;
    
  }